/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Desktop (min-width 1024px) */
@font-face {
  font-family: "Georgian";
  src: url("../fonts/bpg_glaho.ttf");
}
@font-face {
  font-family: "Georgian-cap";
  src: url("../fonts/bpg_mrgvlovani_caps_2010.ttf");
}
:root {
  --primary-color-white: rgb(255, 255, 255);
  --secondary-color-red: rgb(224, 37, 37);
  --color-dark-blue: rgb(36, 36, 52);
  --color-medium-blue: #4444b6;
}
@media (min-width: 1024px) {
  body {
    font-size: 18px;
    max-width: 100%;
    line-height: 1.6;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .header-S {
    display: none;
  }
  .header-L {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .nav-row {
    ul {
      list-style-type: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      li {
        padding: 0 0.5em;
      }

      a {
        text-decoration: none;
        color: var(--color-light-blue);
        font-family: "Georgian-cap";
        font-weight: 700;
      }
      a:hover {
        text-decoration: underline;
        color: var(--secondary-color-red);
      }
    }
  }
  .slider-container {
    height: 500px;
    margin: 0 auto;
  }
  .slide img {
    height: 400px;
    width: 400px;
  }
  .slide h1 {
    margin-top: 26rem;
  }
  .card-wrapper {
    width: 95%;
  }

  .tour-card {
    -webkit-box-flex: 20%;
    -ms-flex: 20%;
    flex: 20%;
    margin: 1rem;
    h3 {
      font-size: 1.5em;
    }
    p {
      font-size: 1em;
    }
    .card-btn {
      font-size: 1.5em;
    }
    img {
      width: 150px;
      height: 150px;
    }
  }
  .partnership h1 {
    h1 {
      font-family: "Georgian-cap";
      color: var(--color-dark-blue);
      margin: 0 2rem;
      padding: 1rem;
      font-size: 1.5em;
    }
  }
  .partnership h2 {
    margin: 0;
  }
  .partnership-service-page .partnership-card-wrapper {
    width: 100%;
  }
  .partnership-card {
    -webkit-box-flex: 25%;
    -ms-flex: 25%;
    flex: 25%;
    margin: 1rem;
  }

  .partnership-card p,
  .partnership-card .card-btn {
    font-size: 1rem;
  }
  .social-media-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 20%;
  }
  .desktop-social-media {
    width: 40%;
  }
  .privacy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 90%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #form {
    margin: 4em auto;
    height: auto;
  }
  .form-wrapper {
    margin: 2rem;
  }
  form {
    padding: 3rem;
  }
  .about-us {
    width: 60%;
    margin: 0 auto;
  }
}
