/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* basic styles and styles for Smartphone (max-width 767px) */
@font-face {
  font-family: "Georgian";
  src: url("../fonts/bpg_glaho.ttf");
}
@font-face {
  font-family: "Georgian-cap";
  src: url("../fonts/bpg_mrgvlovani_caps_2010.ttf");
}
:root {
  --primary-color-white: rgb(255, 255, 255);
  --secondary-color-red: rgb(224, 37, 37);
  --color-dark-blue: rgb(36, 36, 52);
  --color-medium-blue: #4444b6;
  --color-light-gray: rgb(241, 241, 241);
}
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-L {
  display: none;
}
.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  display: inline-block;
  text-decoration: none;
  color: var(--color-medium-blue);
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 0.25em;
}

.logo::first-letter {
  color: var(--secondary-color-red);
}
.menu-btn {
  border: none;
  background: none;
  float: right;
  margin: 2em;
  cursor: pointer;
  padding: 0;
}

.fa-bars {
  font-size: 2em;
  color: var(--color-dark-blue);
}
.fa-x {
  font-size: 2em;
  color: white;
}
#menu {
  font-family: "Georgian-cap";
  width: 50%;
  left: auto;
  bottom: auto;
  background-color: var(--color-dark-blue);
  border: none;
  height: 100vh;
  translate: 100% 0;
  -webkit-transition: translate 0.5s, display 0.5s ease-out allow-discrete;
  -o-transition: translate 0.5s, display 0.5s ease-out allow-discrete;
  transition: translate 0.5s, display 0.5s ease-out allow-discrete;

  &:popover-open {
    translate: 0 0;

    @starting-style {
      translate: 100% 0;
    }
    ul {
      list-style-type: none;
      margin-top: 7em;

      li {
        padding: 0.5em 0;
      }

      a {
        text-decoration: none;
        color: white;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
.sale-info {
  background-color: var(--secondary-color-red);
  color: white;
  font-family: "Georgian-cap";
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
}

/* images slider */
.slider-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
figure {
  position: relative;
  left: 0;
  margin: 0;
  width: 400%;
  -webkit-animation: 20s slideshow infinite;
  animation: 20s slideshow infinite;
}
@-webkit-keyframes slideshow {
  0% {
    left: 0%;
  }
  8% {
    left: 0%;
  }
  16% {
    left: -100%;
  }
  24% {
    left: -100%;
  }
  32% {
    left: -200%;
  }
  40% {
    left: -200%;
  }
  48% {
    left: -300%;
  }
  56% {
    left: -300%;
  }
  64% {
    left: -200%;
  }
  72% {
    left: -200%;
  }
  80% {
    left: -100%;
  }
  88% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes slideshow {
  0% {
    left: 0%;
  }
  8% {
    left: 0%;
  }
  16% {
    left: -100%;
  }
  24% {
    left: -100%;
  }
  32% {
    left: -200%;
  }
  40% {
    left: -200%;
  }
  48% {
    left: -300%;
  }
  56% {
    left: -300%;
  }
  64% {
    left: -200%;
  }
  72% {
    left: -200%;
  }
  80% {
    left: -100%;
  }
  88% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
.slide {
  position: relative;
  float: left;
  width: 25%;
  text-align: center;

  img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
  }

  h1 {
    margin-top: 15rem;
    position: absolute;
    text-align: center;
    color: var(--secondary-color-red);
    font-weight: 900;
    width: 100%;
    font-family: "Georgian";
  }
}

.slide .old-price {
  text-decoration: line-through;
}

/* tour section */
main {
  background-color: var(--primary-color-white);
}
.tours {
  h1 {
    color: var(--color-dark-blue);
    font-family: "Georgian-cap";
    margin: 1rem 2rem;
    padding: 1rem;
    font-size: 1.5em;
  }
}
.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.tour-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2em;
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  -webkit-box-shadow: 0px 8px 8px 4px rgba(20, 19, 19, 0.15);
  box-shadow: 0px 8px 8px 4px rgba(20, 19, 19, 0.15);
  border-radius: 20px;

  h3 {
    font-family: "Georgian-cap";
    font-size: 1.5em;
    color: var(--color-dark-blue);
    font-weight: 900;
  }

  img {
    width: 150px;
    height: 150px;
    color: transparent;
  }

  p {
    font-family: "Georgian";
    margin: 0.5rem;
    font-weight: 700;
    font-size: 1em;
    color: var(--color-dark-blue);
  }
  .card-btn {
    font-size: 1.5em;
  }
}
.card-btn {
  font-family: "Georgian-cap";
  border-radius: 4px;
  background-color: var(--secondary-color-red);
  border: none;
  color: white;
  text-align: center;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  margin-bottom: 1em;
}
.card-btn:hover {
  background-color: #a30505;
}

.see-all {
  text-align: center;

  a {
    text-decoration: none;
    color: var(--color-dark-blue);
    font-size: 1em;
    font-family: "Georgian-cap";
    font-weight: 700;
  }

  a:hover {
    color: var(--secondary-color-red);
    text-decoration: underline;
  }
}

.partnership {
  background-color: var(--primary-color-white);
  h2 {
    font-family: "Georgian-cap";
    font-size: 1em;
    color: var(--color-dark-blue);
    font-weight: 900;
    background-color: var(--color-light-gray);
    text-align: center;
    margin: 2rem 0;
    padding: 1rem;

    span {
      display: inline-block;
      color: var(--color-medium-blue);
      font-weight: 700;
    }

    span::first-letter {
      color: var(--secondary-color-red);
    }
  }

  h1 {
    font-family: "Georgian-cap";
    color: var(--color-dark-blue);
    margin: 1rem 2rem;
    padding: 1rem;
    font-size: 1.5em;
  }
}

.partnership-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1em;
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  border-radius: 10px;
  width: 90%;
}
.card1 {
  background: #a8cfe3;
  background: -o-radial-gradient(
    circle,
    rgba(168, 207, 227, 1) 0%,
    rgba(106, 155, 235, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(168, 207, 227, 1) 0%,
    rgba(106, 155, 235, 1) 100%
  );
}
.card2 {
  background: #eeaeca;
  background: -o-radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.card3 {
  background: #d48e9f;
  background: -o-radial-gradient(
    circle,
    rgba(212, 142, 159, 1) 0%,
    rgba(71, 96, 122, 0.86) 100%
  );
  background: radial-gradient(
    circle,
    rgba(212, 142, 159, 1) 0%,
    rgba(71, 96, 122, 0.86) 100%
  );
}

.partnership-card p {
  font-family: "Georgian-cap";
  margin: 0.5rem;
  font-weight: 700;
  font-size: 1.5em;
  color: var(--secondary-color-red);
  text-align: center;
}

.partnership-card li {
  font-family: "Georgian";
  font-weight: 700;
  color: var(--color-dark-blue);
}
.partnership-card .card-btn {
  font-size: 1rem;
}

/* footer */

footer {
  background-color: var(--color-dark-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.social-media-container {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 60%;
}
.social-media {
  padding: 10px;
  border-radius: 50%;
}
.fa-brands {
  color: white;
}

.fb {
  background-color: #1877f2;
}
.insta {
  background: -o-radial-gradient(
    30% 107%,
    circle,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.twitter {
  background-color: #1da1f2;
}
.pinterest {
  background-color: #f0002a;
}

.privacy {
  margin-top: 1rem;

  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
    color: rgb(235, 206, 205);
  }

  p {
    color: white;
    text-align: center;
  }
  span {
    display: inline-block;
    color: var(--color-medium-blue);
    font-weight: 700;
  }
  span::first-letter {
    color: var(--secondary-color-red);
  }
}

/* information-page */

.discount {
  padding: 15px 5px;
  border-radius: 50%;
  background-color: var(--secondary-color-red);
  margin-top: 2rem;
  color: white;
  font-weight: 700;
}
.discounted-price span {
  color: var(--secondary-color-red);
}
.discount-wrapper {
  width: 100%;
  text-align: end;
}

/* service page */

/* login page */

#form {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--color-medium-blue);
  padding: 2rem;
  border-radius: 10px;
}
label {
  color: white;
}

.credentials-wrapper {
  text-align: end;
  margin-bottom: 1rem;
}

.checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1rem;
}
.recovery-pass {
  margin-top: 1rem;
}
.rec-pass-link {
  text-decoration: none;
  color: white;
}
.rec-pass-link:hover {
  color: var(--secondary-color-red);
}
.login-btn-wrapper {
  text-align: center;
}
.login-btn {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  padding: 5px 15px;
  width: 100px;
  cursor: pointer;
  margin-top: 1rem;
}

.login-btn span {
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.login-btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.login-btn:hover span {
  padding-right: 25px;
}

.login-btn:hover span:after {
  opacity: 1;
  right: 0;
}


/* about us page */

.about-us {
  color: var(--color-dark-blue);
  padding: 1rem;
  font-family: "Georgian";
  text-align: justify;
  h1 {
    font-family: "Georgian-cap";
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
  }
  span {
    display: inline-block;
    color: var(--color-medium-blue);
    font-weight: 700;
  }
  span::first-letter {
    color: var(--secondary-color-red);
  }
  ul {
    list-style: none;
  }
  p {
    font-family: "Georgian";
    font-size: 1em;
  }
}

/* contaxt us  */

.gmap_canvas {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: 100%;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 300px;
  width: 100%;
}
.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
